<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question_type.name %>
</p>

<%= link_to 'Edit', edit_question_type_path(@question_type) %> |
<%= link_to 'Back', question_types_path %>
